<a href="https://colab.research.google.com/github/Luwcca/Brainnest-Assignments/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a for loop that iterates through a list of strings and prints each string in uppercase.

In [ ]:
string_list = ["banana", "apple", "juice"]

for i in string_list:
  print(i.upper())

BANANA
APPLE
JUICE

2. Create a for loop that iterates through a list of numbers and prints the square of each number.

In [ ]:
num_list = [1,2,4,5,6,7]

for i in num_list:
  print(i*i)

1
4
16
25
36
49

3. Create a for loop that iterates through a list of dictionaries and prints the value of a specified key for each dictionary.

In [ ]:
dict_list = [{1: "banana" , 2:"apple", 3:"cherry"}, {1: "banana juice" , 2:"apple juice", 3:"cherry juice"}, {1: "banana bread" , 2:"apple pie ", 3:"cherry pie"},]

for i in dict_list:
  print(i[3])

cherry
cherry juice
cherry pie

4. Create a for loop that iterates through a list of numbers and prints the largest number in the list.

In [ ]:
num_list = [1,2,4,5,6,7,3,15,6,13,29,7,8,15]
x = 0
for i in num_list:
  if i > x:
    x = i

print(x)

29

5. Create a for loop that iterates through a list of lists and prints the sum of the elements in each sub-list.

In [ ]:
num_list = [[1,2,4,5],[6,7,3,15],[6,13,29],[7,8,15]]

for i in num_list:
  x = 0
  for j in i:
    x +=j

  print("The sum of the elements in sub-list", i  ,"is:", x )

The sum of the elements in sub-list [1, 2, 4, 5] is: 12
The sum of the elements in sub-list [6, 7, 3, 15] is: 31
The sum of the elements in sub-list [6, 13, 29] is: 48
The sum of the elements in sub-list [7, 8, 15] is: 30